.ingredient_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.ingredient_item_image {
  padding: 0;
}

.ingredient_item_price {
  margin: 0;
}

.ingredient_item_name {
  text-align: center;
}
