.ingredient_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.ingredient_item_image {
  height: 72px;

  @media screen and (width >= 601px) {
    height: 120px;
  }
}

.ingredient_item_price {
  display: flex;
  align-items: center;
  gap: 9px;
}

.ingredient_item_name {
  text-align: center;
}

.ingredient_item_count {
  position: absolute;
  top: 0;
  right: 0;
}
