.login_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.login_footer {
  text-align: center;
}

.button {
  min-width: 128px;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
