.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.order_status {
  color: var(--colors-interface-success);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 366px;
  overflow-y: auto;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}

.ingredient_group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

/* TODO: Глобально? */

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.order_details_footer {
  display: flex;
  justify-content: space-between;
}
