.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
