.main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 60px;
  height: 100%;
  min-height: 0;
}

.feed_orders {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding-right: 8px;
  overflow-y: auto;
}

.feed_summary {
  flex: 1;
}

.orders_status {
  display: flex;
  gap: 36px;

  & > div {
    flex: 1;
  }
}

.done,
.pending {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: column;
  gap: 8px;
}

.done {
  color: var(--colors-interface-success);
}
