.main {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 1260px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.feed_orders {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding-right: 8px;
  overflow-y: scroll;
}

.feed_summary {
  flex: 1;
}

.orders_status {
  display: flex;
  gap: 36px;

  & > div {
    flex: 1;
  }
}

.done {
  margin: 0;
  padding: 0;
  color: var(--colors-interface-accent);
  list-style: none;
}

.in_process {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  /* empty */
  opacity: 1;
}
