.modal {
  width: 100%;
  max-width: 720px;
  background: var(--background);
  border-radius: var(--common-border-radius-s);
}

.modal_header {
  position: relative;
  padding-right: 40px;
}

.modal_icon_close {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}
