.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1260px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.forgot_password_wrapper {
  /* TODO: Дубль */
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.login_footer {
  text-align: center;
}

/* TODO: Дубль */

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
