* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;
}

.auth_page_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.link {
  display: flex;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.auth_link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

.margin-auto-x {
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.input__icon svg:hover {
  cursor: pointer;
}

.button_spinner {
  width: 24px;
  height: 24px;
}

.button_with_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits_shadow {
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%),
    0 0 8px rgb(51 51 255 / 25%);
}

.hidden_link {
  color: inherit;
  text-decoration: inherit;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
