.bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  display: block;
}

.star {
  opacity: 0;
}

.color-1 {
  fill: var(--text-inactive-color);
}

.color-2 {
  fill: var(--colors-interface-success);
}

.color-3 {
  fill: var(--colors-button-inactive);
}

.img_ufo {
  width: 200px;
  height: 150px;
}
