.order_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_details_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
