.order_card {
  flex: 1;
  background: var(--background);
  border-radius: var(--common-border-radius-s);
}

.order_card_header {
  display: flex;
  justify-content: space-between;
}

.order_card_footer {
  display: flex;
  justify-content: space-between;
}

.order_card_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.order_card_ingredients {
  display: flex;
  margin: 0;
  padding: 0;
}

.order_card_ingredient {
  &:not(:first-child) {
    margin-left: -20px;
  }

  &:nth-child(1) {
    z-index: 6;
  }

  &:nth-child(2) {
    z-index: 5;
  }

  &:nth-child(3) {
    z-index: 4;
  }

  &:nth-child(4) {
    z-index: 3;
  }

  &:nth-child(5) {
    z-index: 2;
  }

  &:nth-child(6) {
    z-index: 1;
  }
}
